*~
05/.metadata/*
05/.metadata/
05_balthi/webshop/.metadata/
05_balthi/webshop/target/
05_balthi/webshop/target/*
05_balthi/webshop/build/
05_balthi/webshop/.settings/
05_balthi/webshop/.project
05_balthi/webshop/.classpath
